  /* home.css */
.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-group, .cafe-group, .news-group {
    margin-bottom: 20px;
}
.book {
    display: inline-block;
    width: 100%;
    margin: 4.5%;
    background: #e9ecef;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    gap:100px;
}
 .cafe, .social {
    display: inline-block;
    width: 100%;
    margin: 1.5%;
    background: #e9ecef;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book img, .cafe img, .social img {
    max-width: 100%;
    border-radius: 5px;
}

button {
    margin-top: -1px;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.yuta{
          width: 25%;
          border: #fff;
          border-style: solid;
          border-width: 10px;
          margin-left: 20px;
          margin-right: 20px;
          
        }
    
        .gojo{
          width: 50%;
          text-align:center;    }
          .chinhchu{
          display: flex;
          justify-content: space-between;}
footer {
    width:100% ;box-sizing: border-box;
}
.chinhchu2 {
  display: flex;
  justify-content: center; /* căn giữa toàn bộ dãy */
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px; /* khoảng cách giữa các sách */
}
.book img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
